* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0B2434;
}

div#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 320px;
  max-height: 640px;
  aspect-ratio: 1 / 1;

  border-radius: 10px;
}

